body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;

  ul {
    list-style: none;
    padding: 0;
    max-width: 534px;
    margin: 0 auto 45px;

    li {
      padding: 9px 0 11px 9px;
      text-align: left;
      transition: all .1s ease-in;
      border: 3px solid transparent;
      cursor: pointer;

      &:nth-child(odd) {
        background-color: #88839E;
      }

      &:nth-child(even) {
        background-color: #7A7593;
      }

      input[type="checkbox"] {
        cursor: pointer;

        &:checked+label {
          color: #9B96AC;
          text-decoration: line-through;
        }

        &:checked+label::after {
          color: #9B96AC;
          text-decoration: line-through;
          position: relative;
          top: -2px;
        }
      }

      label[for^="item"] {
        font-size: 18px;
        color: #fff;
        cursor: pointer;

        &::after {
          content: attr(data-info);
          font-size: 11px;
          color: #fff;
          margin: 0 0 0 3px;
        }
      }

      &:hover {
        background-color: #625E77;
        border: 3px solid #fff;
        border-left: none;
        border-right: none;
      }
    }

    li:active {
      background-color: #FF8984;
    }
  }
}

.greeting {
  padding: 19px 0 12px;
  background-color: #4A4F56;


  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #FF8984;
    margin: 0 0 5px;

    &+h2 {
      font-size: 16px;
      margin: 0;
      color: #FF8984;
      font-weight: normal;
    }
  }
}

main {
  background-color: #3B3F45;
  padding: 20px 0 135px;

  p {
    max-width: 534px;
    margin: 45px auto 0;
    padding: 12px 0 12px;
    font-size: 18px;
    color: #FF8984;
    background-color: #4A4F56;
  }
}